<div class="drinkmart-office">
  <h1><%= "HỆ THỐNG DRINKMART TRÊN TOÀN QUỐC" %></h1>
  <div class="hotline">
    <%= "Website: www.framgia.com" %><br>
    <%= "Hotline: 1800 8009" %><br>
  </div>
  <div class="col-md-12">
    <h2><%= "HÀ NỘI" %></h2>
    <div class="col-md-6">
      <h3><%= "DRINKMART KEANGNAM" %></h3>
      <%= image_tag "/assets/adress1.jpg", size: "500x300" %>
      <%= "A1002 tòa nhà Keangnam, đường Phạm Hùng-Phường Mễ Trì-Quận Nam Từ Liêm-Hà Nội, Việt Nam"%><br>
      <%= "Giờ mở cửa:" %><br>
      <%= "9h00-21h (cả tuần)" %><br>
      <%= "Điện thoại: (84.8) 6252 0022" %>
      <%= "Fax: (84.8) 6252 0044" %>
      <%= "Email: drinkmart_kn@akacompany.com.vn" %>
    </div>
    <div class="col-md-6">
      <h3><%= "DRINKMART TRẦN KHÁT CHÂN" %></h3>
      <%= image_tag "/assets/address2.jpg", size: "500x300" %>
      <%= "Tầng 8, tòa nhà Nice Building, số 467 Điện Biên Phủ, Phường 25, Quận Bình Thạnh, TP Hồ Chí Minh, Việt Nam"%><br>
      <%= "Giờ mở cửa:" %><br>
      <%= "9h00-21h (cả tuần)" %><br>
      <%= "Điện thoại: (84.8) 6252 0022" %>
      <%= "Fax: (84.8) 6252 0044" %>
      <%= "Email: drinkmart_hcm@akacompany.com.vn" %>
    </div>
  </div>
  <div class="col-md-12">
    <h2><%= "TP HỒ CHÍ MINH" %></h2>
    <div class="col-md-6">
      <%= image_tag "/assets/address3.jpg", size: "400x300" %>
    </div>
    <%= "Tầng 8, tòa nhà Nice Building, số 467 Điện Biên Phủ, Phường 25, Quận Bình Thạnh, TP Hồ Chí Minh, Việt Nam"%><br>
    <%= "Giờ mở cửa:" %><br>
    <%= "9h00-21h (cả tuần)" %><br>
    <%= "Điện thoại: (84.8) 6252 0022" %>
    <%= "Fax: (84.8) 6252 0044" %>
    <%= "Email: drinkmart_hcm@akacompany.com.vn" %>
  </div>
</div>
