<% provide :title, "All users" %>
<h1><%= "All users" %></h1>
<ul class="users">
  <%= search_form_for @search, class: "form-inline" do |f| %>
    <%= f.text_field :email_cont, class: "form-control",
      placeholder: "Email" %>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %><br>
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th><%= "Index" %></th>
        <th><%= "Email" %></th>
        <th><%= "Avatar" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td>
            <%= link_to user.email, user %>
          </td>
          <td>
            <% if user.avatar.present? %>
              <%= link_to image_tag(user.avatar, size: Settings.users.ava_size), user %>
            <% else %>
              <%= link_to image_tag(Settings.users.avatar,
                size: Settings.users.ava_size) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</ul>
<%= paginate @users %>
