<% provide :title, "All categories" %>
<h1><%= "All categories" %></h1>
<div>
  <%= link_to "Add category", new_admin_category_path,
    class: "btn btn-primary" %>
</div><br>
<div class="categories">
  <%= search_form_for [:admin, @search], url: admin_categories_path,
    method: :get, class: "form-inline" do |f| %>
      <%= f.search_field :title_cont, class: "form-control",
          placeholder: "Title" %>
      <%= f.submit "Search", class: "btn btn-info" %>
  <% end %>
</div><br>
<table class="table table-striped">
  <thead>
    <tr class="info">
      <th class="number"><%= "Index" %></th>
      <th class="name"><%= "Title" %></th>
      <th><%= "Number products" %></th>
      <th class="action"><%= "Action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each_with_index do |category, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to category.title, admin_products_path(category_id: category.id) %></td>
        <td>
          <%= category.products.count %>
        </td>
        <td>
          <%= link_to new_admin_product_path(id: category.id),
            data: {toggle: "tooltip", placement: "top"},
            title: "Add product" do %>
            <span class= "glyphicon glyphicon-plus" ></span>
          <% end %>
          <%= link_to edit_admin_category_path(category),
            data: {toggle: "tooltip", placement: "top"},
            title: "Edit" do %>
            <span class= "glyphicon glyphicon-pencil" ></span>
          <% end %>
          <%= link_to admin_category_path(category), method: :delete,
            data: {confirm: "You sure?",
            toggle: "tooltip", placement: "top"},
            title: "Delete" do %>
            <span class= "glyphicon glyphicon-trash" ></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @categories %>
