<% provide :title, @product.name %>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-5">
    <% if @product.image.present? %>
      <%= image_tag(@product.image, size: Settings.products.product_size_large,
        class: "img-thumbnail") %>
    <% else %>
      <%= image_tag(Settings.products.default_product,
        size: Settings.products.product_size_large, class: "img-thumbnail") %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-7">
    <div class="detail">
      <div class="title">
        <h1><b><%= @product.name %></b></h1>
      </div>
      <h3><%= "Price" %></h3>
      <p><%= @product.price %></p>
      <h3><%= "Quantity" %></h3>
      <p><%= @product.quantity %></p>
      <h3><%= "Type" %></h3>
      <p><%= @product.category.title %></p>
      <h3><%= "Description" %></h3>
      <p><%= @product.description %></p>
    </div>
    <%= link_to "Edit", edit_admin_product_path,
      class: "btn btn-primary form-control" %>
  </div>
</div>
