<% provide :title, "All categories" %>
<h1><%= "All categories" %></h1>
<table class="table table-striped">
  <thead>
    <tr class="info">
      <th class="number">
        <%= "Index" %>
      </th>
      <th class="name">
        <%= "Title" %></th>
      <th>
        <%= "Number book" %>
      </th>
    </tr>
  </thead>
  <div>
    <%= search_form_for @search, class: "form-inline" do |f| %>
      <div class="col-md-5">
        <%= f.text_field :title_cont, class: "form-control",
          placeholder: "Title" %>
      </div>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div></br>
  <tbody>
    <% @categories.each_with_index do |category, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to category.title, products_path(category_id: category.id) %></td>
        <td><%= category.products.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @categories %>
<%= page_entries_info @categories %>
