<%= provide :title, "All users" %>
<h1><%= "All user" %></h1>
<div class="col-md-12">
  <%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
    <%= f.text_field :name_cont, class: "form-control",
      placeholder: "Name" %>
    <%= f.text_field :email_cont, class: "form-control",
      placeholder: "Email" %>
      <%= f.submit "Search", class: "btn btn-info" %>
  <% end %></br>
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th><%= "Index" %></th>
        <th><%= "Email" %></th>
        <th><%= "Avatar" %></th>
        <th><%= "Action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to user.email, user_path(user.id) %></td>
          <td>
            <% if user.avatar.present? %>
              <%= link_to image_tag(user.avatar, size: Settings.users.ava_size), user_path(user.id) %>
            <% else %>
              <%= link_to image_tag(Settings.users.avatar,
                size: Settings.users.ava_size), user_path(user.id) %>
            <% end %>
          </td>
          <td>
            <% if can?(:delete, @user) && !user.admin? %>
              <%= link_to admin_user_path(user),
                method: :delete, data:{confirm: "You sure?",
                toggle: "tooltip", placement: "top"},
                title: "Delete" do %>
                <span class= "glyphicon glyphicon-trash" ></span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</ul>
<%= paginate @users %>
<%= page_entries_info @users %>
