<% provide :title, @product.name %>
<div class="row" id="show_product">
  <p id="info"></p>
  <div class="col-md-5">
    <% if @product.image.present? %>
      <%= image_tag(@product.image, size: Settings.products.product_size_large,
        class: "img-thumbnail") %>
    <% else %>
      <%= image_tag(Settings.products.default_product,
        size: Settings.products.product_size_large,
        class: "img-thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-7">
    <div class="detail">
      <div class="title">
        <h1><b><%= @product.name %></b></h1>
      </div>
      <div class="col-md-3">
        <h4><b><%= "Price" %></b></h4>
        <p><%= @product.price %></p>
        <h4><b><%= "Quantity" %></b></h4>
        <p><%= @product.quantity %></p>
        <h4><b><%= "Category" %></b></h4>
        <p><%= @product.category_id %></p>
        <h4><b><%= "Average rate" %></b></h4>
        <p><%= @product.average %></p>
      </div>
      <div class="col-md-4">
        <% if current_user.present? %>
          <%= link_to "Add to cart", "/cart/#{@product.id}" %>
        <% end %>
      </div>
    <div class="title">
      <h1><b><%= @product.name %></b></h1>
    </div>
    <div class="col-md-3">
      <div class="detail">
        <h4><b><%= "Price" %></b></h4>
        <p><%= @product.price %></p>
        <h4><b><%= "Quantity" %></b></h4>
        <p><%= @product.quantity %></p>
        <h4><b><%= "Category" %></b></h4>
        <p><%= @product.category_id %></p>
        <h4><b><%= "Average rate" %></b></h4>
        <p><%= @product.average %></p>
      </div>
    </div>
    <div class="col-md-4">
      <%= form_for @order_detail do |f| %>
        <div class="input-group-btn">
          <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          </div>
          <%= f.hidden_field :product_id, value: params[:id] %>
          <%= f.submit "Add to cart", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <h4><b><%= "Description" %></b></h4>
    <p><%= @product.description %></p>
    <%= render "reviews", reviews: @reviews %>
    <% if current_user.present? %>
      <h2><%= "Write review" %></h2>
        <%= render "reviews/review_form", review: @new_review %>
    <% end %>
  </div>
</div>
