<footer class="footer">

  <div class="col-md-3">
    <ul>
      <li class="footer-title"><h3><%= "Coppy right" %></h3></li>
      <li><i>
        <small>
          The <a>Drinks Mart System</a>
          by <a href="https://www.facebook.com/trongnghia.nguyenthi">Trong Nghia</a>
        </small>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="footer-title"><h3><%= "Office Address" %></h3></li>
      <li>
        <span class="placeholder"></span>
        <i><%= t "footer.framgia" %></i>
      </li>
      <li><i><%= "13F Keangnam Landmark 72 Tower, Plot E6, Pham Hung Road, Nam Tu Liem District., Ha Noi" %></i></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="footer-title"><h3><%= "Contact" %></h3></li>
      <li><i><%= "Hotline: 01658 125 527" %></i></li>
      <li><i><%= "Email: drink.mart.system@framgia.com" %></i></li>
      <li><i><%= "Fax: 0999 888 888" %></i></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="footer-title"><h3><%= "Information" %></h3></li>
      <li><i>
        <%= "You're my heart" %>
      </i></li>
    </ul>
  </div>
</footer>
